<!DOCTYPE html>
<html>
  <head>
    {{ partial "header.html" . }}
  </head>
  <body>
    <div id="main">
      <h1><sup>☀️</sup>.js.uy</h1>
      {{ .Content }}
      <ul class="footer">
        <li><a href="/">Home</a></li>
        <li>|</li>
          <li><a href="https://js-uy-calendar.now.sh/">Calendar</a></li>
        <li>|</li>
        <li><a href="/about">About</a></li>
        <li>|</li>
        <li><a href="/list-my-community">How do I list my community?</a></li>
        <li>|</li>
        <li><a href="/claim-domain">How do I claim a js.uy domain?</a></li>
      </ul>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
