<meta charSet="IE=edge" httpEquiv="X-UA-Compatible" />
<meta charSet="utf-8" />
<meta
  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
  name="viewport"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather"
/>
<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css" />
<title>{{ .Title }} | {{ .Site.Title }}</title>
<style media="screen" type="text/css">
  body { font-family: 'Inconsolata', monospace; }
  h1, h2, h3, h4 { font-family: 'Merriweather', serif; }
  h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  #main { max-width: calc(700px + 2em); margin: 0 auto; padding: 0 2em; }
  #translations {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  .footer li { display: inline; }
  .footer li::after { content: "|"; }
  .footer li:last-child::after { content: ""; }
</style>
